@import "tailwindcss";

/* Custom theme colors for Tailwind v4 */
@theme {
  --color-themeyellow: #f5e60d;
  --color-themepurple: #502ec3;
  --color-themegreen: #10B981;

}
#icon {
  display: none;
}

#product-box:hover #icon {
  display: flex !important;
}